@font-face {
    font-family: 'gilroyextrabold';
    src: url("../fonts/gilroyextrabold-webfont.woff2") format('woff2'),
    url('../fonts/gilroyextrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
    url('../fonts/gilroylight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin:0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight:300;
    letter-spacing: 0.15px;
    color: #000000;
}

a{
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 8px 23px;
    font-family: "gilroyextrabold";
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 3.6px;
    cursor: pointer;
    height: 40px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    border: none;
    z-index: 100;

}

.button::before{
    content: "";
    position: absolute;
    z-index: -20;
    top: 50%;
    left: 0;
    margin-top: -5px;
    background-color: #f0c52e;
    width: 100%;
    height: 8px;
}

.button:hover.button::before,
.button:focus.button::before{
    top: 0;
    margin-top: 0;
    height: 100%;
}

.button:active{
    color: rgba(0, 0, 0, 0.3);
}

.container{
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.main-header{
    color:#000000;
}

.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1040px;
    margin: 0 auto;
    padding: 0 60px;
    padding-bottom: 45px;
    padding-top: 35px;
    margin-top: 20px;
    background-color: rgba(240, 197, 46, 0.5);
    position: relative;
}

.site-navigation,
.user-navigation,
.category-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-navigation a,
.user-navigation a{
    color: #000000;
}

.main-header-logo{
    width: 163px;
    height: 35px;
    position: absolute;
    top:-17.5px;
    left:60px;
}

.header-middle{
    width: 1040px;
    margin-bottom: 23px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.main-page-link:hover,
.main-page-link:focus{
    opacity: 0.6;
}

.main-page-link:active{
    opacity: 0.3;
}

.search-form{
    position: relative;
}

.search-form input[type="search"]{
    font:inherit;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 295px;
    opacity: 0.3;
}

.search-icon{
    display: inline-block;
    width: 20px;
    height: 16px;
    background: url("../img/search_icon.svg") no-repeat center bottom;
    position: absolute;
    top:17px;
    left: 0;
}

.search-form input:hover{
    opacity: 0.6;
}
.search-form input:focus{
    color: #000000;
    opacity: 1;
    outline: none;
    border-bottom: 2px solid #000000;
}

.search-form button{
    font:inherit;
    border: 2px solid #000000;
    background-color: transparent;
    color: #000000;
    display: none;
    margin-left:-4px;
    padding: 10px 20px;
}

.search-form input:focus ~ button{
    display:inline-block;
}

.search-form button:hover{
    display:inline-block;
    background-color: #000000;
    color: #ffffff;
}

.search-form button:active,
.search-form button:focus{
    display:inline-block;
    background-color: #000000;
    color: rgba(255,255, 255, 0.3);
}

.user-navigation{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-navigation a{
    display: block;
    padding-left:26px;
    position: relative;
}

.user-navigation a::before{
    content:"";
    background-image: url(../img/user_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7px;
    left: 0;
}

.login-link{
    flex-grow: 1;
}

.sign-out{
    margin-right: auto;
}

.user-profile a{
    padding-right: 20px;
 
}

.sign-out a{
   padding-left:0; 
}

.sign-out a::before{
    display: none;
}

.cart{
    margin-left: 35px; 
}

.cart a::before{
    background-image: url(../img/cart_icon.svg);
}

.comparision a::before{
    background-image: url(../img/compare_icon.svg);
}
.site-navigation{
    width: 1040px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation-item{
    margin-left: 20px;
}

.navigation-item:first-child{
    margin-left: 0;
}

.navigation-catalog{
    margin-right: auto;
    padding-right: 33px;
    position: relative;
}

.navigation-catalog::before{
    content: "";
    position: absolute;
    right: 4px;
    top: 13px;
    width: 16px;
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
}

.navigation-catalog:after{
    content: "";
    position: absolute;
    top: 6px;
    right: 11px;
    width: 2px;
    height: 16px;
    background: rgba(0, 0, 0, 0.5);

}

.category-menu{
    position: absolute;
    top: 25px;
    left: -60px;
     z-index: 20;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    height: 175px;
    width: 1160px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.category-menu::before{
    content: "";
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 197, 46, 0.5);
}

.navigation-catalog:hover .category-menu{
    display: flex;
}

.category-menu li{
    padding-right: 60px;
}

.category-menu li:nth-child(3n-1):nth-last-child(2) {
    margin-bottom: 30px;
}

.navigation-varranty{
    margin-left: 39px;
}

.navigation-contacts{
    margin-left: 103px;
}

.sign-out a{
    opacity: 0.3;
}

.navigation-item > a{
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
    opacity: 0.6;
}

.site-navigation a:active,
.user-navigation a:active{
    opacity: 0.3
}

.category-menu .current:hover,
.category-menu .current:focus,
.category-menu .current:active{
    opacity: 1;
}


.sign-out a:hover,
.sign-out a:focus,
.sign-out a:active{
    opacity: 0.3;
}

main h2{
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    font-weight: normal;
}

.popular-products{
    position: relative;
}

.popular-products::before{
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    height: 112px;
    width: 1160px;
    background-color: rgba(240, 197, 46, 0.5);
    z-index: -5;
}

.products-slider{
    padding: 0;
    list-style: none;
    width: 1100px;
    margin: 0 auto;
    margin-right: 60px;
}

.slider-left-column{
    width: 560px;
}

.slider-left-column p{
    margin: 0;
    padding: 0;
}

.slider-right-column{
    width: 502px;
    padding-top: 82px;
    position: relative;
}

.slider-right-column::before{
    content: "";
    width: 100px;
    height: 8px;
    position: absolute;
    top: 38px;
    left: 0;
    background-color: #fff;
}

.products-slider-item{
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.products-slider-item:nth-child(1) .slider-image{
       margin-left: 88px;
}

.products-slider-item:nth-child(2) .slider-image{
    margin-left: 115px; 
    margin-top: 15px;
}

.products-slider-item:nth-child(3) .slider-image{
    margin-top: 65px;
    margin-left: 30px;
}

.products-slider-item:nth-child(1){
    display: flex;
    margin-bottom: 97px;
}
.products-slider-item:nth-child(2){
    margin-bottom: 84px;
    /*display: flex;*/
}

.products-slider-item:nth-child(3){
    /*display: flex;*/
    margin-bottom: 112px
}

.products-slider-item:nth-child(3) .slider-promo-text{
    width: 451px;
}

.products-slider-item:nth-child(2) .slider-promo-text{
    width: 441px;
}

.products-slider-item::before{
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 179.2px;
    line-height: 179.2px;
    letter-spacing: 10;
    color: #ffffff;
}

.products-slider-item:first-child::before{
    content: "01";
}

.products-slider-item:nth-child(2)::before{
    content: "02";
}

.products-slider-item:nth-child(3)::before{
    content: "03";
}

.slider-controls{
    position: absolute;
    top: 328px;
    right: 102px;
    z-index: 20;
    font-size: 0;
}

.slider-controls label{
    display: inline-block;
    position: relative;
    width: 11px;
    height: 11px;
    margin-right: 20px;
    vertical-align: top;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .active::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 5px;
    height: 5px;
    border: 1px solid #000;
    border-radius: 50%;

}

.slider-controls label:last-child{
    margin-right: 0;
}

.slider-promo-title{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-weight: normal;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.47px;
}

.slider-promo-text{
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.products-slider-btn{
    /*display: block;*/
    width: 220px;
    margin-bottom: 45px;
}

.slider-products-info tbody{
    display: flex;
    flex-direction: column-reverse;
    align-content: space-between;
}

.slider-products-info th{
    margin: 0;
    padding: 0;
    min-width: 155px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    
}

.slider-products-info td{
    margin: 0;
    padding: 0;
    padding-bottom: 7px;
    min-width: 155px;
    font-family: "gilroylight", Arial, sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
}

.products-categories{
   margin-bottom: 145px;
}

.categories-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}
.categories-item{
    width: 160px;
}

.categories-list h3{
    margin: 0;
    padding: 0;
}

.categories-item span{
    margin-bottom: 35px;
}

.products-categories h3{
    color: #000000;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.catalog-icon-wrapper{
    background-color: rgba(240, 197, 46, 0.5);
    display: flex;
    justify-content: center;
    width: 160px;
    height: 160px;
}

.not-center-image{
    align-self: flex-end;
}

.categories-item-link:hover .catalog-icon-wrapper,
.categories-item-link:focus .catalog-icon-wrapper{
    background-color: rgba(240, 197, 46, 1);
}

.categories-item-link:active img,
.categories-item-link:active h3{
    opacity: 0.3;
}

.services{
    position: relative;
    margin-bottom: 120px;
}

.services::before{
    content: "";
    position: absolute;
    top: 37px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    z-index: -10;
}

.services-columns{
    display: flex;
}

.slider-buttons{
    margin-top: 17px;
    width: 280px; 
    position: relative;
}

.slider-buttons::before{
    content: "";
    position: absolute;
    top: -80px;
    right: -4px;
    width: 8px;
    height: 320px;
    background-color: #000000;
}

.slider-button{
    width: 160px;
    margin-bottom: 25px;
    background: none;
    text-align: left;
}

.slider-button.active-item{
    background-color: #000000;
    width: 280px;
    text-align: left;
    color: #f7e184;
}

.slider-button:nth-child(2).active-item{
    padding-left: 30px;
}

.slider-button:nth-child(3).active-item{
    padding-left: 42px;
}

.slider-button.active-item::before{
    display: none;
}

.slider-button:active{
    color: #f7e184;
    background-color: #000000;
    opacity: 1;
}

.services h3{
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 10px;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
}

.services p{
    margin: 0;
    margin-bottom: 105px;
    padding: 0;
    padding-bottom: 16px;
    width: 440px;
}

.services-slider{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 120px;
    width: 760px;
}

.services-slider-item{
    display: none;
    background-repeat: no-repeat;
    background-position: 557px  20px;
}

.services-slider-item:nth-child(1){
    display: block;
    background-image: url("../img/delivery_icon.svg");
}

.services-slider-item:nth-child(2){
    /*display: block;*/
    background-image: url("../img/warranty_icon.svg");
    background-position: 545px 0px;
}

.services-slider-item:nth-child(3){
    /*display: block;*/
    background-image: url("../img/credit_icon.svg");
    background-position: 535px 0;
}

.services-slider-item:nth-child(3) p{
    width: 424px;
}

.brands{
    margin-bottom: 85px;
}

.brands-list{
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.brands img{
    filter: grayscale(1);
    opacity: 0.2;
}

.brands-list-link:hover img,
.brands-list-link:focus img{
    filter: none;
    opacity: 1;
}

.index-columns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.about-us{
    width: 470px;
    position: relative;
    padding-top: 53px;
}

.contacts{
    width: 560px;
    position: relative;
    padding-top: 53px;
}

.about-us::before,
.contacts::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.about-us h2,
.contacts h2{
    margin: 0;
    margin-bottom: 43px;
    padding: 0;
}

.about-us p{
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    letter-spacing: 0;
}

.contacts p{
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    letter-spacing: 0;
}

.delivery-partners-list{
    margin: 0;
    margin-top: 65px;
    margin-bottom: 55px;
    padding: 0;
    list-style: none;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
}

.delivery-partners-list li{
    position: relative;
    padding-left:35px;
}

.delivery-partners-list li::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;
    width: 8px;
    height: 8px;
    border: 1px solid #e5e5e5;
    border-radius:50%;
}

.contacts .button{
    margin-top: 23px;
    width: 260px;
}

.inner-page .page-title{
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 23px;
    padding: 0 60px;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: normal;
    letter-spacing: 10;
}

.main-header.inner-page{
    margin-bottom: 40px;
}

.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 45px;
    padding: 0 60px;
    list-style: none;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
    font-weight: 300;
}

.breadcrumbs li{
    padding-right: 40px;
    position: relative;
}

.breadcrumbs li::before{
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -3px;
    width: 4px;
    height: 7px;
    background-image: url("../img/nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.breadcrumbs li.current-item{
    padding-right: 0;
}

.breadcrumbs li.current-item::before{
    display: none;
}

.breadcrumbs a{
    color: #000000;
    opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus{
    opacity: 0.6;
}

.breadcrumbs a:active{
    opacity: 0.1;
}

.breadcrumbs .current-item{
    opacity: 0.3
}

.catalog-wrapper{
    position: relative;
}

.catalog-wrapper::before{
    content: "";
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.08);
    z-index: -12;
}

.catalog-wrapper::after{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -110;
    background-color: #ebebeb
}

.catalog-columns{
    display: flex;
    justify-content: space-between;
}

.inner-page h2{
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.product-sorting{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    min-height: 70px;
}

.sorting-title{
    margin: 0;
    margin-right: 40px;
    padding: 0;
    width: 160px;
}

.sorting-list{
    display: flex;
    flex-grow: 1;
}

.sorting-list-item{
    margin-right: 30px;
}

.sorting-direction{
    display: flex;
    justify-content: space-between;
    width: 45px;
}

.sorting-direction-item a{
    display: block;
    width: 11px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sorting-direction-item:first-child a{
    background-image: url("../img/icon-up-dir-3.svg");
}

.sorting-direction-item:last-child a{
    background-image: url("../img/icon-down-dir-3.svg");
}


.product-sorting ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-sorting a{
    color: #000000;
    opacity: 0.3;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.sorting-current-item a{
    opacity: 1;
}

.product-sorting a:hover,
.product-sorting a:focus{
    opacity: 0.6;
} 

.product-sorting a:active{
    opacity: 1;
}

.sorting-current-item a:hover,
.sorting-current-item a:focus,
.sorting-current-item a:active{
    opacity: 1;
}

.filters{
    color: #000000;
    width: 200px;
    margin-left: 60px;
    margin-right: 65px;
}

.filter-title{
    margin: 0;
    padding: 23px 0;
    height: 24px;
    margin-bottom: 83px;
}

.filter-form fieldset{
    border:none;
    position: relative;
    margin: 0;
    margin-bottom: 38px;  
    padding: 0;  
}

.filter-form fieldset::before{
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 200px;
    height: 2px;
    background-color: #000;
}

.filter-form fieldset:last-of-type{
    margin-bottom: 30px;
}

.filter-form legend{
    margin: 0;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 0;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.color-filter legend,
.bluetooth-filter legend{
    margin-bottom: 20px;
}

.filter-form label{
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.14px;
    font-weight: 300;
}

.filter-form ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-input{
    font:inherit;
}

.range-controls{
    position: relative;
    margin-bottom: 15px;
}

.range-controls .scale{
    height: 2px;
    background-color: #dbdbdb;
}

.range-controls .bar{
    height: 2px;
    width: 70%;
    background-color: #91c92f;
}

.range-controls .toggle{
    position: absolute;
    left: 0;
    top: -10px;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle:active{
    border: 9px solid #ffffff;
}

.range-controls .toggle-max{
    left:120px;
}

.price-controls{
    font-size: 0;
}

.price-controls label{
    display: inline-block;
    width: 49%;
    font-family: "gilroylight", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color:rgba(0, 0, 0, 0.2);
}

.price-controls input{
    width: 45px;
    padding: 0;
    font-family: "gilroylight", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color:rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: none;
}

.filter-input:disabled + label{
    opacity: 0.25;
}

.filter-option{
   padding-left: 40px; 
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-checkbox + label::before{
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    left: -40px;
    top: 5px;
    border: 2px solid #000000;
    border-radius: 3px;
}

.filter-checkbox:checked +label::before{
    content: "";
    position: absolute;
    border:none;
    width: 27px;
    height: 23px;
    left: -40px;
    top: 5px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-radio + label::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    left: -40px;
    top: 5px;
    border: 4px solid #000;
    border-radius: 50%;
}

.filter-radio:checked + label::after{
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    left: -32px;
    top: 13px;
    background-color: #000000;
    border-radius: 50%;
}

.filter-button{
    width: 100%;
    background-color: transparent;
}

.catalog{
    position: relative;
    width: 760px;
    padding-left: 75px;
    background-color: #ffffff;
    z-index: 10;
}

.catalog::before{
    content: "";
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.08);
}

.catalog-list{
    margin: 0;
    padding: 0;  
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item{
    position: relative;
    margin-right: 40px;
    margin-bottom: 47px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.catalog-item:last-child,
.catalog-item:nth-last-child(2){
    margin-bottom: 35px;
}

.catalog-item:nth-child(2n){
    margin-right: 0;
}

.catalog-item-title{
    order:1;
    width: 260px;
}

.catalog-item-image img{
    margin-bottom: 23px;
}

.catalog-item-price{
    order:2;
    width: 80px;
    text-align: right;
}

.products-list a{
    color: #000000;
}

.products-list h3{
    margin: 0;
    padding: 0;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.products-list p{
    margin: 0;
    padding: 0;
}

.products-list .catalog-item-price{
    font-family: "gilroylight", Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.catalog-item-actions{
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 360px;
   height: 380px;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.7);
}

.products-list .comparise-button{
    color: #000000;
    opacity: 0.5;
    font-size: 13px;
    line-height: 20px; 
    letter-spacing: 0.13px;
    text-align: center;
    vertical-align: middle;
}

.new-product::before{
    content: "New";
    position: absolute;
    text-transform: uppercase;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    right: 27px;
    top: 30px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 2px solid rgba(0 ,0 ,0 ,0.1);
    border-radius: 50%;
}

.catalog-item-image:hover .catalog-item-actions,
.catalog-item-image:focus .catalog-item-actions{
    display: flex;
}

.products-list .comparise-button:hover,
.products-list .comparise-button:focus{
    opacity: 1;
}

.products-list .comparise-button:active{
    opacity: 0.2;
}

.pagination-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-bottom: 77px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.08);
    color: #000000;
    align-items: center;
}

.pagination-prew a,
.pagination-next a{
    display: block;
    /*box-sizing: border-box;*/
    padding-top: 23px;
    padding-bottom: 23px;
    width: 127px;
    text-align: center;
}

.page-number{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.page-number li{
    margin-right: 30px;
}

.page-number li:last-child{
    margin-right: 0;
}

.pagination-item a{
    color: rgba(0, 0,0, 0.3);
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.pagination-current a,
.pagination-prew a,
.pagination-next a{
    color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus{
    color:rgba(0, 0, 0, 0.6);
}

.pagination-item a:active{
    color:rgba(0, 0, 0, 1);
}

.pagination-current a:hover,
.pagination-current a:focus,
.pagination-current a:active
{
    color:rgba(0, 0, 0, 1);
}

.pagination-prew a:hover,
.pagination-prew a:focus,
.pagination-next a:hover,
.pagination-next a:focus{
    color: rgba(0, 0, 0, 1);
    background-color:  rgba(0, 0, 0, 0.16);
}

.pagination-prew a:active,
.pagination-next a:active{
    color: rgba(0, 0, 0, 0.3);
    background-color:  rgba(0, 0, 0, 0.16);
}


.main-footer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    padding-top: 65px;
    padding-bottom: 100px;
    color: #ffffff;
    background-color: #464646;
}

.inner-page.main-footer{
    margin-top: 0;
}

.main-footer a{
    color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus
{
    opacity: 0.6;
}

.main-footer a:active{
    opacity: 0.3;
}

.footer-sign-out a{
    opacity: 0.3
}

.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: flex-start;
}

.footer-user-menu{
    width: 600px;
    display: flex;
    justify-content: flex-end;
}

.footer-user-menu li{
    margin-left: 40px;
}

.footer-user-menu li:first-child{
    margin-left: 0;
}

.footer-user-menu a{
    display: block;
    padding-left: 23px;
    position: relative;
}

.footer-user-menu a::before{
    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 7px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-login-link a::before,
.footer-user-profile a::before{
    background-image: url("../img/user_icon_footer.svg");
}

.footer-comparision a::before{
    background-image: url("../img/compare_icon_footer.svg");
}

.footer-cart a::before{
    background-image: url("../img/cart_icon_footer.svg");
}

li.footer-sign-out{
    margin-left: 20px;
}

.footer-sign-out a{
    padding-left: 0;
}

.footer-logo{
    width: 163px;
    height: 35px;
}

.footer-logo.logo-current-page:hover{
    opacity: 1;
}

.footer-user-menu,
.footer-site-menu,
.footer-social{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-sign-out a:hover,
.footer-sign-out a:focus,
.footer-sign-out a:active{
    opacity: 0.3;    
}

.footer-middle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
    align-items: flex-end;
}

.footer-site-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 430px;
    padding: 0 100px;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer-address{
    font-style: normal;
    width: 205px;
    letter-spacing:0;
    order: -3;
}

.footer-phone{
    width: 205px;
    letter-spacing: 0;
    text-align: right;
}

.footer-bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.footer-bottom::before{
    content: "";
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -3px;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
}

.footer-social{
    width: 143px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.fb-button{
    background-image: url("../img/facebook_logo.svg");
}

.insta-button{
    background-image: url("../img/instagram_logo.svg");
}

.tw-button{
    background-image: url("../img/twitter_logo.svg");
}

.social-button:hover,
.social-button:focus{
    opacity: 0.6;
}

.social-button:active{
    opacity: 0.1;
}

.footer-copyright{
    width: 60px;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-left: 450px;
}

.footer-copyright a{
    display: inline-block;
    width: 30px;
    height: 40px;
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: 100%;
}

.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -480px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-feedback{
    width: 760px;
    height: 378px;
    z-index: 305;
    /*display: block;*/
    background-color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 95px;
    padding-bottom: 80px;
}

.modal-feedback p{
    margin: 0;
    padding: 0;
}

.feedback-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
}

.feedback-form label{
    display: block;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"]{
    font:inherit;
    box-sizing: border-box;
    width: 360px;
    display: inline-block;
    padding: 11px 18px;
    padding-bottom: 17px;
    background-color: #e5e5e5;
    opacity: 0.5;
    border: 3px solid transparent;
    margin-bottom: 35px;
}

.feedback-form textarea{
    font: inherit;
    box-sizing:border-box;
    width: 760px;
    min-height: 155px;
    padding: 13px 18px;
    background-color: #e5e5e5;
    opacity: 0.5;
    border: 3px solid transparent;
    margin-bottom: 40px;
}

.feedback-form input:hover,
.feedback-form textarea:hover{
    opacity: 0.8;
}

.feedback-form input:focus,
.feedback-form textarea:focus{
    background-color: transparent;
    border: 3px solid rgba(240, 197, 46, 0.5);
}

.feedback-form input:invalid,
.feedback-form textarea:invalid{
    background-color: rgb(273, 181, 181);
    opacity: 0.5;
    border: 3px solid transparent;
}


.feedback-form button{
    background: none;
    width: 200px;
}

.modal-map{
    width: 960px;
    height: 559px;
    z-index: 300;
    /*display: block;*/
}

.modal-map p{
    margin: 0;
    padding: 0;
}

.modal .popup-close{
    position: absolute;
    top: 22px;
    right: 22px;
    font-size: 0;
    width: 55px;
    height: 55px;
    background-color:#f0c52e;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
}

.modal .popup-close:hover,
.modal .popup-close:focus{
    opacity: 1;
}

.modal .popup-close:active{
    opacity: 0.3;
}

.modal .popup-close::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 29px;
    height: 2px;
    margin-left: -14.5px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.modal .popup-close::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 29px;
    height: 2px;
    margin-left: -14.5px;
    background-color: #ffffff;
    transform: rotate(-45deg);
}
