@font-face {
    font-family: 'gilroyextrabold';
    src: url("../fonts/gilroyextrabold-webfont.woff2") format('woff2'),
         url('../fonts/gilroyextrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
         url('../fonts/gilroylight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin:0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight:300;
    letter-spacing: 0.15px;
    color: #000000;
}

a{
    text-decoration: none;
}

.main-header{
    color:#000000;
    background-color: #f0c52e;
}

.search-form input{
    font:inherit;
}

.search-form button{
    font:inherit;
    border: 2px solid #000000;
    background-color: transparent;
    color: #000000;
}

.search-form button:hover,
.search-form button:focus{
    background-color: #000000;
    color: #ffffff;
}

.search-form button:active{
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3);
}
.site-navigation,
.user-navigation,
.category-menu{
    list-style: none;
}
.site-navigation a,
.user-navigation a{
    color: #000000;
}
.site-navigation>li>a{
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
    color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active,
.user-navigation a:active{
    color: rgba(0, 0, 0, 0.3);
}